* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #39493f;
  --primary-font-color: #ffffff;
  --secondary-color: #024e76;
  --tertiary-color: #760253;
  --header-width: 200px; /*  same width of the header everywhere */
}

body {
  color: var(--primary-font-color);
  font-family: Helvetica, Arial, sans-serif;
}



/* Overload h1 overall -propbably "poor form" on larger projects but done to keep this page strigngent */

h1 {
    width: var(--header-width);
    flex-basis: content;
    font-weight: bold;   
    flex-shrink: 0; 
    font-size: 36px;
    color: var(--primary-font-color);
    margin: 0;
    border-right: 3px solid var(--primary-font-color);    
  }

p {
    margin: 5px;
  }

/*-------------------------
 Header and nav bar styling
 ----------------------- */

header{
  padding: 20px 35px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
}



header a {
  text-decoration: none;
  color: var(--primary-font-color);
}

header nav {
  margin: 7px 0px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
 
}

header nav ul li a {
  margin: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  padding: 15px;
 

}

header nav ul li a:hover {
  background: var(--secondary-color);
  color: var(--primary-font-color);
  border-radius: 5px;
  text-shadow: none;
}

/*-----------
 Hero styling 
 ----------*/

.hero {
  background-image: url("../images/hero-car.jpeg");
  background-size: cover;
  background-position: right;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

/*--------------------
 About section styling
--------------------*/

.about {
    display: flex;
    padding: 20px 35px;
    background-color: var(--primary-color); 
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
  }


 .about p{
    flex: 1 0;
    padding: 0 15px    
 }

/*-----------
 Work Section
 ----------*/


.work {
    display: flex;
    padding: 20px 35px;
    background-color: var(--primary-color); 
    justify-content: space-between;
    top: 0; 
    
  }

  .work h1{
      flex-shrink: 0;
  }
/* Image tile work section */

.container{
   
    display: flex; 
    flex-wrap: wrap;
    
}

.tile-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
 
/* Images in the tiles */
.image-1{
    background-image: url("../images/emerald-lake-closeup.jpeg");
}
.image-2{
    background-image: url("../images/geyser.jpeg");
}
.image-3{
    background-image: url("../images/nevada-road-smoke.jpeg");
}
.image-4{
    background-image: url("../images/tree-center.jpeg");
}
.image-l{
    background-image: url("../images/twin-falls-bridge.jpeg");
}

/* Tile image formatting */
.image {
    margin: 5px;  
    border: var(--secondary-color) solid 3px;
    min-width: 300px;
    min-height: 300px; 
    background-size: cover;
    display: flex;
    padding: 15px;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    transition-duration: 0.5s;
   
  }

  .image-l {   
    flex:1 0 20%;   
    order: 1; 
    transition-duration: 0.5s;
    align-self: flex-start;
  }

  .image:hover{
      content: "";
      background-image: url("../images/run-buddy-screen.png");
      /* background: linear-gradient(rgba(252, 56, 66, 0.3), var(--secondary-color)); */
      border-radius: 20px;
      z-index: 9999;
  }


/*------------- 
Contact section
-------------*/

.contact {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
  }


  .contact a {
    text-decoration: none;
    color: var(--primary-font-color);
  }
  
  .contact nav {
    margin: 7px 0px;
    flex: 1 0;
    
  }
  
  .contact nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    list-style: none;
  }
  
  .contact nav ul li a {
    margin: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    padding: 15px;
  }
  
  .contact nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--primary-font-color);
    border-radius: 5px;
    text-shadow: none;
  }
  
  /* ----------
  Media Queries
  ---------- */
  
  @media screen and (max-width: 980px){
    /* put the tiles under the heading when screen is small */
    .work {
        flex-wrap: wrap;
    }
 
    /* put the tiles and content under the heading when screen is small */  
    h1{
        width: 100%;
        border: none;
        font-size: 26px;
        border-bottom: 3px solid var(--primary-font-color);  
    }
  
    header nav ul li a, .contact nav ul li a  {
        margin: 10px 15px;
        font-weight: lighter;
        font-size: 15px;
        padding: 5px;
   
  
  }
}